USE [Абоненты_Калмыков]
GO
/****** Object:  Table [dbo].[Абонент]    Script Date: 20.12.2022 9:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Абонент](
	[Id_Абонента] [int] NOT NULL,
	[ФИО] [varchar](50) NULL,
	[Адрес_проживания] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Абонента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Разговоры]    Script Date: 20.12.2022 9:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Разговоры](
	[Номер_разговора] [int] NOT NULL,
	[Дата_разговора] [varchar](50) NULL,
	[продолжительность] [int] NULL,
	[Признак_оплаты] [varchar](15) NULL,
	[Номер_Телефона] [varchar](12) NULL,
	[Код_города] [int] NULL,
 CONSTRAINT [PK_Разговоры] PRIMARY KEY CLUSTERED 
(
	[Номер_разговора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тариф]    Script Date: 20.12.2022 9:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тариф](
	[Код_города] [int] NOT NULL,
	[Название_города] [varchar](50) NULL,
	[Тариф_стоим_1_мин] [int] NOT NULL,
 CONSTRAINT [PK_Тариф] PRIMARY KEY CLUSTERED 
(
	[Код_города] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Телефон]    Script Date: 20.12.2022 9:53:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Телефон](
	[Номер_Телефона] [varchar](12) NOT NULL,
	[Номер_договора] [varchar](50) NULL,
	[Дата_установки] [varchar](50) NULL,
	[Id_абонента] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер_Телефона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Абонент] ([Id_Абонента], [ФИО], [Адрес_проживания]) VALUES (1, N'Орлов 
Сергей Борисович
', N'г.Омск, ул. Мира, 54,4')
INSERT [dbo].[Абонент] ([Id_Абонента], [ФИО], [Адрес_проживания]) VALUES (3, N'Вавилов
Сергей Борисович
', N'г. Омск, пр.Маркса, 34,23')
INSERT [dbo].[Абонент] ([Id_Абонента], [ФИО], [Адрес_проживания]) VALUES (4, N'Титова Александра Ивановна', N'г. Омск, ул. Ленина, 5,24')
GO
INSERT [dbo].[Разговоры] ([Номер_разговора], [Дата_разговора], [продолжительность], [Признак_оплаты], [Номер_Телефона], [Код_города]) VALUES (1, N'02.03.2021', 12, N'не оплачено', N'(3812)326789', 3)
INSERT [dbo].[Разговоры] ([Номер_разговора], [Дата_разговора], [продолжительность], [Признак_оплаты], [Номер_Телефона], [Код_города]) VALUES (2, N'02.03.2021', 2, N'оплачено', N'(3812)951211', 1)
INSERT [dbo].[Разговоры] ([Номер_разговора], [Дата_разговора], [продолжительность], [Признак_оплаты], [Номер_Телефона], [Код_города]) VALUES (3, N'08.03.2021', 15, N'оплачено', N'(3812)531178', 4)
GO
INSERT [dbo].[Тариф] ([Код_города], [Название_города], [Тариф_стоим_1_мин]) VALUES (1, N'Омск', 10)
INSERT [dbo].[Тариф] ([Код_города], [Название_города], [Тариф_стоим_1_мин]) VALUES (2, N'Москва', 30)
INSERT [dbo].[Тариф] ([Код_города], [Название_города], [Тариф_стоим_1_мин]) VALUES (3, N'Воронеж', 20)
GO
INSERT [dbo].[Телефон] ([Номер_Телефона], [Номер_договора], [Дата_установки], [Id_абонента]) VALUES (N'(3812)326789', N'2378Ф', N'01.01.1996', 1)
INSERT [dbo].[Телефон] ([Номер_Телефона], [Номер_договора], [Дата_установки], [Id_абонента]) VALUES (N'(3812)333490', N'3465Ф', N'09.10.2012', 4)
INSERT [dbo].[Телефон] ([Номер_Телефона], [Номер_договора], [Дата_установки], [Id_абонента]) VALUES (N'(3812)531178', N'4523В', N'04.08.2004', 1)
GO
ALTER TABLE [dbo].[Разговоры]  WITH CHECK ADD  CONSTRAINT [FK_Разговоры_Тариф1] FOREIGN KEY([Код_города])
REFERENCES [dbo].[Тариф] ([Код_города])
GO
ALTER TABLE [dbo].[Разговоры] CHECK CONSTRAINT [FK_Разговоры_Тариф1]
GO
ALTER TABLE [dbo].[Разговоры]  WITH CHECK ADD  CONSTRAINT [FK_Разговоры_Телефон] FOREIGN KEY([Номер_Телефона])
REFERENCES [dbo].[Телефон] ([Номер_Телефона])
GO
ALTER TABLE [dbo].[Разговоры] CHECK CONSTRAINT [FK_Разговоры_Телефон]
GO
ALTER TABLE [dbo].[Телефон]  WITH CHECK ADD  CONSTRAINT [FK_Телефон_Абонент] FOREIGN KEY([Id_абонента])
REFERENCES [dbo].[Абонент] ([Id_Абонента])
GO
ALTER TABLE [dbo].[Телефон] CHECK CONSTRAINT [FK_Телефон_Абонент]
GO
